.inbox-connection {
  .help-text {
    color: #465259;
    font-size: 14px;
    font-style: italic;
  }
  .spinner-background {
    width: 170px;
    height: 25px;
    top: 30vh;
    left: 46vw;
    position: absolute;
    background: #565656cc;
    border-radius: 4px;
    padding: 23px 40px 50px;
    box-shadow: rgba(45, 47, 64, 0.2) 0px 0px 6px 0px;
  }
  .inbox-table-box {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 0%),
      0px 1px 1px 0px rgb(0 0 0 / 0%), 0px 1px 3px 0px rgb(0 0 0 / 0%) !important;
    margin-bottom: 16px;
    .inbox-table-cell {
      color: #4e5c65 !important;
      font-weight: bold !important;
      height: 40px !important;
    }
    .action-btn-white {
      padding: 4px 8px;
      color: #212529;
      background-color: #fff;
      border-color: #9eabb3;
      border: 1px solid #9eabb3;
      border-radius: 3px;
      font-size: 12px;
      color: #4e5c65;
    }
    .action-btn-white:hover {
      color: #212529;
      background-color: #ececec;
      border-color: #81929d;
    }
  }
}
.tone-low {
  color: #b84954;
}
.css-1psng7p-MuiTablePagination-spacer {
  display: none !important;
}
