.inbox-detail {
  padding: 10px;
  background: #f5f8fa;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  border-right: 1px solid #d6dde1;
  border-radius: 0px 6px 6px 0px;
  min-width: 600px;
  .email-content {
    border: 1px solid #d6dde1;
    padding: 16px 24px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgb(118 118 118 / 16%) 0px 0px 6px 0px;
    overflow-y: auto;
    height: 100%;
  }
  .mail-sender-name {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    font-weight: 700;
    font-weight: 700;
  }
  .mail-sender-email {
    text-align: right;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    align-self: center;
  }
  .mail-send-date {
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    align-self: center;
    margin-right: 0.25rem /* 4px */;
    color: #4d4d4dc5;
  }
  .mail-receiver {
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    align-items: center;
  }
  .mail-subject {
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    align-items: center;
  }
  .mail-body {
    border-top: 1px solid #d6dde1;
    font-size: 14px;
  }
  .mail-content {
    padding-top: 10px;
  }
}
